{{template "base"}}
<meta http-equiv="refresh" content="5; url='/dashboard'" />
Something goes wrong! <br>
Message: {{.}}<br>
You will be redirect in 5 seconds.... or click the option below.<br>

    <a href="/dashboard">User Dashboard</a><br>
    <a href="/logout">Log Out</a>


</body>
</html>