{{template "base"}}
<meta http-equiv="refresh" content="5; url='/dashboard'" />
Something goes wrong! <br>
Message: {{.}}<br>
You will be redirect in 5 seconds.... or click the option below.

    <h2><a href="/dashboard">User Dashboard</a></h2>
    <h2><a href="/logout">Log Out</a></h2>


</body>
</html>