{{template "base"}}


    <div class="container">
        <div class="row" align="center">
            <h1>Welcome to URL Monitoring System</h1>
            <p>I will monitor your website and send you a telegram notification when your website is
                down.</p>



            <a href="/signup">Sign Up</a>
            <a href="/login">Log in</a>
        </div>
    </div>


    </body>
  </html>